<!-- PATTERN START - /fixtures/components/test-newsblock -->
{% set h1Header = header.h1 %}
{% set paragraph = header.paragraph %}
<article class="{{newsblock.class}}">
  {% include '../test-include-header/test-include-header.twig' with header,paragraph %}
  <section>
    {% set paragraph = paragraph %}
    {% include '../../test-elm-p/test-elm-p.twig' with paragraph %}
  </section>
</header>
<!-- PATTERN END - /fixtures/components/test-newsblock -->
